body{
    font-family: 'Roboto';
    background-color: black;
    margin: 0;
}
.Card{
    background-color: white;
    height: 650px;
    width: 500px;
    margin:35px auto;
}
.Image{
    margin: auto;
    padding-top: 20px;
}
.Reactions{
    size: 25px;
    justify-content: space-evenly;
}
.Comment-Sect{
    margin-right: 10px;
    margin-left: 10px;
}
.Popularity{
    margin-left: 10px;
}
.Header{
    margin-left: 10px;
    padding-top: 20px;
}